<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="kanaminds-title">
      KanaMinds <span class="pro">Pro</span>
    </ion-title>
    <ion-buttons class='header-buttons' slot="end">
      <ion-icon (click)="openOptionsModal()" name="options"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="gems-area" class="start2p">
    <img id='gem-image' src="../../../assets/gem.png" alt="">
    <span>{{ gems.getGems() }}</span>
  </div>  

  <div *ngIf="gameComplete" id="game-area">
    <div *ngIf="gameComplete" id="results">
      <p>{{ percentCorrect + '%' }}</p>
      <p>{{ fractionCorrect }}</p>
      <p *ngFor="let answer of incorrectAnswers">{{ answer.japanese }} = {{ answer.english }}</p>
      <ion-button (click)="playAgain()">Play Again</ion-button>
    </div>
  </div>

  <div *ngIf="!gameComplete" id="game-area">
    <span id="current-kana">{{ kanaList[currentKanaIndex].japanese }}</span>
    <div id="choices-area">
      <div *ngFor='let item of choiceItems' (click)="handleAnswer(item)" class="choice-button">
          {{ item.english }}
      </div>
    </div>
  </div>
</ion-content>