<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="kanaminds-title">
      KanaMinds <span class="pro">Pro</span>
    </ion-title>
    <ion-buttons class='header-buttons' slot="end">
      <ion-icon (click)="openOptionsModal()" name="options"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="gems-area" class="start2p">
    <img id='gem-image' src="../../../assets/gem.png" alt="">
    <span>{{ gems.getGems() }}</span>
  </div>  

  <div *ngIf="gameComplete" id="game-area" class="fade-in">
    <div *ngIf="gameComplete" id="results">
      <h2 class="start2p">Game Overview</h2>
      <p>Percentage correct {{ percentCorrect + '%' }}</p>
      <p>{{ fractionCorrect }}</p>

      <div *ngIf="incorrectAnswers.length">
        <h3>Remember</h3>
        <p *ngFor="let answer of incorrectAnswers">{{ answer.japanese }} = {{ answer.english }}</p>
      </div>
      
      <ion-button (click)="playAgain()" class="button-green start2p fade-in">Play Again</ion-button>
    </div>
  </div>

  <div *ngIf="!gameComplete" id="game-area" class="fade-in">
    <span id="current-kana" [ngClass]="{'incorrect-answer': isIncorrectAnswer, 'correct-answer': isCorrectAnswer}">
      {{ kanaList[currentKanaIndex].japanese }}
    </span>
    <div id="choices-area">
      <div *ngFor='let item of choiceItems' (click)="handleAnswer(item)" class="choice-button">
        {{ item.english.toUpperCase() }}
      </div>
    </div>
  </div>  
</ion-content>