@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Orbitron&display=swap');

#game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;

    #current-kana {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 8rem;
    }

    #current-kana.incorrect-answer {
        color: #f45450;
        animation: shake 0.5s;
    }

    @keyframes shake {
        0%, 100% {
          transform: translateX(0);
        }
        10%, 30%, 50%, 70%, 90% {
          transform: translateX(-5px);
        }
        20%, 40%, 60%, 80% {
          transform: translateX(5px);
        }
    }

    #choices-area {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: absolute;
        bottom: 0;
        
        .choice-button {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-bottom: 1.4rem;
            font-size: 1.4rem;

            &hover {
                cursor: pointer;
            }
        }
    }
}

#gems-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .5rem;

    #gem-image {
        height: 1.4rem;
        margin-right: .5rem;
    }

    span {
        font-size: 1.2rem;
    }
}