<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="start2p">
      Leaderboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let user of leaderboard" class="start2p">
      <div>
        <span class="fi fi-{{user?.profile.country_code | lowercase}}"></span>
        {{ user.username }}
      </div>

      <div class='leaderboard-gems' slot="end">
        <img src="../../../assets/gem.png" alt="">
        {{ user.profile.gems }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
